<% content_for :head do %>
  <%= javascript_include_tag "home/data.js" %>
  <%= javascript_include_tag "home/feedback.js" %>
  <%= javascript_include_tag "home/highcharts.js" %>
  <%= javascript_include_tag "home/sidebar.js" %>
  <%= javascript_include_tag "home/charts.js" %>
<% end %>

<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="search-list">
      <li><input type="hidden" id="search-professor" class="search-li"/></li>
      <li><input type="hidden" id="search-title" class="search-li"/></li>
      <li id="search-li">
        <button class="btn btn-primary" id="search-button">
          <i class="icon-search"></i>Search
        </button>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<div class="col-lg-9">
  <div class="well" id="hero-main">
    <ul class="bokeh" id="loading">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="tabbable" id="tab-container"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="tab-link active"><a href="#tab1" id="overview-tab-link" data-toggle="tab">Overview</a></li>
        <li class="tab-link"><a href="#tab2" id="course-tab-link" data-toggle="tab">Course</a></li>
        <li class="tab-link"><a href="#tab3" id="instruction-tab-link" data-toggle="tab">Instruction</a></li>
        <li class="tab-link"><a href="#tab4" id="learned-tab-link" data-toggle="tab">Learned</a></li>
        <li class="tab-link"><a href="#tab5" id="stimulated-tab-link" data-toggle="tab">Stimulated</a></li>
        <li class="tab-link"><a href="#tab6" id="challenged-tab-link" data-toggle="tab">Challenged</a></li>
        <li class="tab-link"><a href="#tab7" id="hours-tab-link" data-toggle="tab">Hours</a></li>
        <li class="tab-link"><a href="#tab8" id="feedback-tab-link" data-toggle="tab">Feedback</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <%= render :partial => 'overview_tab', :locals => {:sections => @sections} %>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="data-chart" id="chart-course"></div>
        </div>
        <div class="tab-pane" id="tab3">
          <div class="data-chart" id="chart-instruction"></div>
        </div>
        <div class="tab-pane" id="tab4">
          <div class="data-chart" id="chart-learned"></div>
        </div>
        <div class="tab-pane" id="tab5">
          <div class="data-chart" id="chart-challenged"></div>
        </div>
        <div class="tab-pane" id="tab6">
          <div class="data-chart" id="chart-stimulated"></div>
        </div>
        <div class="tab-pane" id="tab7">
          <div class="data-chart" id="chart-hours"></div>
        </div>
        <div class="tab-pane" id="tab8">
          <%= render :partial => 'feedback_tab', :locals => {:sections => @sections} %>
        </div>
      </div>
    </div>
  </div>
</div>
