<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title || "Northwestern CTECS" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env.production? %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47155628-1', 'nuctecs.com');
      ga('send', 'pageview');

    </script>
  <% end %>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Northwestern CTEC</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            <!-- Logged in as <a href="#" class="navbar-link">Gabriel Peal</a> -->
          </p>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Courses by department
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% subjects.each do |s| %>
                  <li><a href=<%= "/courses?s=#{s.id}" %>><%= s.name %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Professors by department
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% subjects.each do |s| %>
                  <li><a href=<%= "/professors?s=#{s.id}" %>><%= s.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div id = "alert_placeholder"></div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <%= yield %>
    </div>
    <hr>

    <footer>
      <!-- <p>&copy; Gabriel Peal 2012</p> -->
    </footer>
  </div><!--/.fluid-container-->
</body>
</html>
